<div class="game-container">

  <!-- Header -->
  <div class="header">
    <button class="menu-btn"  (click)="toggleRules()">MENU</button>
    <button class="restart-btn" (click)="resetGame()">RESTART</button>
  </div>
  <app-rules-modal *ngIf="showRules" (close)="toggleRules()"></app-rules-modal>

  <!-- Main -->
  <div class="main">
    
    <!-- Player 1 -->
    <div class="player-panel">
      <div class="player-icon">😊</div>
      <div class="label">PLAYER 1</div>
      <div class="score">{{ gameService.score[1] }}</div>
    </div>

    <!-- Board -->
    <app-game-board></app-game-board>

    <!-- Player 2 -->
    <div class="player-panel">
      <div class="player-icon">😎</div>
      <div class="label">PLAYER 2</div>
      <div class="score">{{ gameService.score[2] }}</div>
    </div>
  </div>

  <!-- Turn display -->
  <div class="turn-box">
    🎯 Player {{ gameService.currentPlayer }}'s turn
  </div>
  <app-turn-timer></app-turn-timer>


</div>
