<div class="modal-overlay">
    <div class="modal-content">
        <div class="header-wrapper">
            <img src="logo-2.png" alt="Logo" class="logo" />
            <h2>Welcome to Connect 4 Game</h2>
        </div>      

        <div class="form-group mode-buttons">
            <button [class.active]="isVsCPU === false" [class.selected]="isVsCPU === false" (click)="onSelectMode('two') ">
                🧍‍♂️ Two Players
            </button>
            <button [class.active]="isVsCPU === true" [class.selected]="isVsCPU === true" (click)="onSelectMode('cpu')">
                🤖 Vs Computer
            </button>
        </div>

        <!-- Se 2 giocatori -->
        <div class="form-group name-inputs">
            <input [(ngModel)]="names[1]"  placeholder="first Player Name" />
            <ng-container *ngIf="isVsCPU === false">
                <input type="text" placeholder="Second Player Name" [(ngModel)]="names[2]" />
            </ng-container>
            <!-- <input [(ngModel)]="name2" placeholder="Second Player Name" /> -->
        </div>

        <!-- Se vs CPU -->
        <div *ngIf="isVsCPU === true" class="form-group cpu-options">
            <label>Difficulty:</label>
            <select [(ngModel)]="difficulty">
                <option value="easy">Easy</option>
                <option value="hard">Hard</option>
            </select>
        </div>
        <div class="form-group">
        <button class="start-btn"  [disabled]="!canStart()" (click)="startGame()">🎮 Start</button>
        </div>
        <p class="footer">Operated by <strong>Mohamed Mousa</strong> </p>
    </div>
</div>
