.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #ffffff;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 400px;
    text-align: center;
}

.form-group {
    margin-bottom: 1rem;
}


.mode-buttons button {
    margin: 0 0.5rem;
    padding: 0.8rem 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: #e0e0e0;
    cursor: pointer;

    &.active {
        background-color: #7b5be7;
        color: white;
    }
}

input, select {
    width: 100%;
    padding: 0.6rem;
    margin-bottom: 0.5rem;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.start-btn {
    background-color: #7b5be7;
    color: white;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 10px;
    width: 200px;
    cursor: pointer;

    &:disabled {
        background-color: #b9b9b9;
        cursor: not-allowed;
    }
}
