<div class="circle-timer">
  <svg width="100" height="100">
    <circle
      r="45"
      cx="50"
      cy="50"
      stroke="#eee"
      stroke-width="10"
      fill="none"
    />
    <circle
      r="45"
      cx="50"
      cy="50"
      [attr.stroke-dashoffset]="dashOffset"
      stroke="#ff5678"
      stroke-width="10"
      fill="none"
      stroke-dasharray="282.6"
      transform="rotate(-90 50 50)"
      stroke-linecap="round"
    />
  </svg>
  <div class="time">{{ timeLeft }}s</div>
</div>

<!-- <div class="turn-box" *ngIf="!gameService.gameOver">
  <div class="label">
    ⏱️ Player {{ gameService.currentPlayer }}'s turn
  </div>
  <div class="timer-circle">
    {{ timeLeft }}s
  </div>
</div> -->
