<!-- <div class="turn-indicator" [ngClass]="{
  'player-1': gameService.currentPlayer === 1,
  'player-2': gameService.currentPlayer === 2
}">
  🎯 Player {{ gameService.currentPlayer }}'s turn
</div> -->

<div class="board">
  <div
    class="column"
    *ngFor="let column of board[0]; let colIndex = index"
    (click)="handleColumnClick(colIndex)">
    <div class="cell" 
    *ngFor="let rowIndex of rowIndices"
      
      >
        <app-disc [player]="board[rowIndex][colIndex]"></app-disc>
    </div>
  </div>
</div>


<div class="winner-message" *ngIf="gameService.winner">
  🎉 Giocatore {{ gameService.winner }} ha vinto!
</div>

<!-- <button (click)="resetGame()">Restart</button> -->