.board {
  display: flex;
  flex-direction: row;
  gap: 4px;
  padding: 20px;
  background: #ffffff;
  border: 5px solid #000000;
  border-radius: 10px;
  width: max-content;
  margin: 0 auto;
}

.column {
  display: flex;
  flex-direction: column-reverse; // importante per effetto "caduta"
  gap: 4px;
  cursor: pointer;
}

.cell {
  width: 60px;
  height: 60px;
  background-color: #543fd7; // colore slot vuoto
  border-radius: 50%;
  position: relative;
}
.column:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
}

.turn-indicator {
  font-weight: bold;
  font-size: 1.5rem;

  &.player-1 {
    color: #ff5678;
  }

  &.player-2 {
    color: #ffc72c;
  }
}
.cell.win-cell {
  animation: pulseWin 0.8s infinite alternate;
  box-shadow: 0 0 10px 3px yellow;
}

@keyframes pulseWin {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
