.board {
  display: flex;
  flex-direction: row;
  gap: 6px;
  padding: 20px;
  background: #ffffff;
  border: 5px solid #000000;
  border-radius: 25px;
  width: max-content;
  margin: 0 auto;
  box-shadow: 0 12px 0 #000;
}

.column {
  display: flex;
  flex-direction: column-reverse; // importante per effetto "caduta"
  gap: 4px;
  cursor: pointer;
}

.cell {
  width: 75px;
  height: 75px;
  background-color: #543fd7; // colore slot vuoto
  border-radius: 50%;
  position: relative;
  box-shadow: inset -6px -6px 0 #000000; // ombra interna nera
  transition: 0.2s ease;
}
.column:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
}

.turn-indicator {
  font-weight: bold;
  font-size: 1.5rem;

  &.player-1 {
    color: #ff5678;
  }

  &.player-2 {
    color: #ffc72c;
  }
}
.cell.win-cell {
  animation: pulseWin 0.8s infinite alternate;
  box-shadow: 0 0 10px 3px yellow;
}

@keyframes pulseWin {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

// drop animation


.disc {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: translateY(-200%);
  animation: fall 0.4s ease-out forwards;
}

.disc.player1 {
  background-color: #ff5678;
}

.disc.player2 {
  background-color: #ffd93d;
}

@keyframes fall {
  0% {
    transform: translateY(-300%);
  }
  100% {
    transform: translateY(0);
  }
}
